*{
    padding: 0;
    margin: 0;
    border: border-box;
}



body{
    font-family: sans-serif;
}

.title{
    color: rgb( 229, 49, 112);
    font-weight: bold;
    text-align: center;
    margin: 20px 0px 45px 0px;

}
.container{
    max-width: 1170px;
    margin: 0 auto;

}


.subtitle{
    text-align: center;
}

.colums{
    padding-top: 50px;
}



.col{
    background-color: black;
    margin: 10px;
    
    float: left;
    width: calc(100% / 3 - 25px);
    height: 80px;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

img{
    height: 80px;
    width: 80px;
    float: left;
}

.title_col{
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

.subtitle_col{
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 3px;
}

.email{
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 162, 255);
    text-align: center;
    margin: 45px;
    text-decoration: none;
}
